body {
	font-family: "Open Sans", sans-serif;
	font-size: 10px;
	line-height: 2;
	margin-bottom: 15px;
}

textarea {
	background: transparent;
	border: none;
	resize: none;
	color: #000000;
	border-left: 1px solid black;
	padding: 10px;
}

.jumbotron {
	text-align: center;
	background-color: transparent;
	color: black;
	border-radius: 0;
	border-bottom: 2px solid black;
}

.description {
	white-space: pre-wrap;
}

.time-block {
	text-align: center;
	border-radius: 15px;
}

.row {
	white-space: pre-wrap;
	height: 40px;
	border-top: 1px solid white;
}

.hour {
	background-color: #ffffff;
	color: #000000;
	border-top: 1px dashed #000000;
}

.past {
	background-color: #666;
	color: white;
}

.present {
	background-color: #06aed5;
	color: white;
}

.future {
	background-color: #1b791b;
	color: white;
}

.saveBtn {
	border-left: 1px solid black;
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;
	background-color: #da6a0f;
	color: white;
}

.saveBtn i:hover {
	font-size: 35px;
	transition: all 0.3s ease-in-out;
}
